[submodule "Submodules/facebook-ios-sdk"]
	path = Submodules/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "Submodules/JSONKit"]
	path = Submodules/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "Submodules/sskeychain"]
	path = Submodules/sskeychain
	url = https://github.com/samsoffes/sskeychain.git
[submodule "Submodules/objectiveflickr"]
	path = Submodules/objectiveflickr
	url = https://github.com/lukhnos/objectiveflickr.git
[submodule "Submodules/evernote-ios-sdk"]
	path = Submodules/evernote-ios-sdk
	url = https://github.com/evernote/evernote-sdk-ios.git
