[submodule "Submodules/facebook-ios-sdk"]
	path = Submodules/facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "Submodules/sskeychain"]
	path = Submodules/sskeychain
	url = https://github.com/samsoffes/sskeychain.git
[submodule "Submodules/objectiveflickr"]
	path = Submodules/objectiveflickr
	url = https://github.com/lukhnos/objectiveflickr.git
[submodule "Submodules/evernote-ios-sdk"]
	path = Submodules/evernote-ios-sdk
	url = https://github.com/evernote/evernote-sdk-ios.git
[submodule "Submodules/googleplus-ios-sdk"]
	path = Submodules/googleplus-ios-sdk
	url = git://github.com/adamotte/googleplus-ios-sdk.git
[submodule "Submodules/dropbox-sdk-ios"]
	path = Submodules/dropbox-sdk-ios
	url = https://github.com/dropbox-sdk-mirror/dropbox-sdk-ios.git
