<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actions</key>
	<array>
		<string>SHKPhotoAlbum</string>
		<string>SHKCopy</string>
		<string>SHKMail</string>
		<string>SHKPrint</string>
		<string>SHKSafari</string>
		<string>SHKChrome</string>
		<string>SHK1Password</string>
		<string>SHKTextMessage</string>
		<string>SHKLogout</string>
		<string>SHKReadingList</string>
	</array>
	<key>services</key>
	<array>
		<string>SHKOneNote</string>
		<string>SHKKippt</string>
		<string>SHKReadability</string>
		<string>SHKEvernote</string>
		<string>SHKDelicious</string>
		<string>SHKTwitter</string>
		<string>SHKiOSTwitter</string>
		<string>SHKDiigo</string>
		<string>SHKPinboard</string>
		<string>SHKGooglePlus</string>
		<string>SHKFacebook</string>
		<string>SHKiOSFacebook</string>
		<string>SHKVkontakte</string>
		<string>SHKBuffer</string>
		<string>SHKPocket</string>
		<string>SHKInstapaper</string>
		<string>SHKTumblr</string>
		<string>SHKLinkedIn</string>
		<string>SHKFoursquareV2</string>
		<string>SHKInstagram</string>
		<string>SHKSinaWeibo</string>
		<string>SHKHatena</string>
		<string>SHKPlurk</string>
		<string>SHKDropbox</string>
		<string>SHKYouTube</string>
		<string>SHKFlickr</string>
		<string>SHKImgur</string>
		<string>SHKPinterest</string>
		<string>SHKWhatsApp</string>
	</array>
</dict>
</plist>
